<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>client.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMateriel</servlet-name>
        <servlet-class>client.FindMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalisationMateriel</servlet-name>
        <servlet-class>client.LocalisationMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>client.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxListeDeroulanteMateriel</servlet-name>
        <servlet-class>client.AjaxListeDeroulanteMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aze</servlet-name>
        <servlet-class>client.Aze</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMateriel</servlet-name>
        <url-pattern>/FindMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalisationMateriel</servlet-name>
        <url-pattern>/LocalisationMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxListeDeroulanteMateriel</servlet-name>
        <url-pattern>/AjaxListeDeroulanteMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aze</servlet-name>
        <url-pattern>/Aze</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
